<md-toolbar class="md-menu-toolbar">
    <div layout="row">
        <md-toolbar-filler layout-align="center center">
        </md-toolbar-filler>
        <div>
            <h2 class="md-toolbar-tools">Music Store</h2>
            <md-menu-bar>
                <md-menu >
                    <button ng-click="menuCtrl.goHome()">Home</button>
                    <md-content></md-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">Categories</button>
                    <md-menu-content>
                        <md-menu-item ng-repeat="category in menuCtrl.popularCategories">
                            <md-button href="#/albums/{{category.id}}">{{category.name}}</md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item >
                            <md-button href="#/categories">More...</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </div>
    </div>
</md-toolbar>