.category-cards md-card{
	width: 350px;
	height: 400px;
}

.category-cards img{
	width: 300px;
	height: 300px;
}

form {
  margin: 10px auto;
  border: 1px solid #eee;
  padding: 0 20px;
  border-radius: 4px;
}

form md-input-container{
	margin : 0px 10px;
}

.newAlbumImage{
	width: 300px;
	height: 300px;
	margin: 10px;
}